[fast-track]
# Full path to the root directory, this is where database file, logs, etc will be stored.
# Note: The string `{cur_dir}` will be replaced by the path to the directory containing
# this config file during run-time.
root_path={cur_dir}

# Switch between debug and production mode. Any value other than `true` will be treated
# as false
debug=false
